.advantages {
  font-family: @font;

  @media (min-width: @tablet-width) {
    padding-bottom: 77px;
  }

  @media (min-width: @desktop-width) {
    padding: 0 50px;
    padding-bottom: 86px;
    margin: 0 auto;
    max-width: @desktop-width;
  }
}

.advantages__header {
  position: relative;
  padding-top: 68px;

  @media (min-width: @tablet-width) {
    padding-top: 75px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 109px;
  }

  &::before {
    position: absolute;
    content: "";
    height: 6px;
    left: 0;
    right: 0;
    top: 35px;
    z-index: 2;
    background-image: url("../img/bg-zigzag-line.svg");
    background-size: contain;

    @media (min-width: @tablet-width) {
      height: 15px;
      top: 11px;
    }

    @media (min-width: @desktop-width) {
      height: 21px;
      top: 29px;
      transform: rotate(180deg);
    }
  }
}

.advantages__title {
  margin: 0;
  .font-style (25px, bold, 1.2, left);
  color: black;

  @media (min-width: @tablet-width) {
    .font-style (43px, bold, 1.16, left);
  }

  @media (min-width: @desktop-width) {
    padding-left: 169px;
    .font-style (53px, bold, 1.08, left);
  }
}

.advantages__wrapper {
  @media (min-width: @tablet-width) {
    display: flex;
  }
}

.advantages__list {
  margin: 0;
  padding-left: 0;
  list-style: none;

  &:first-of-type .advantages__item {
    padding-right: 61px;
  }

  @media (min-width: @tablet-width) {
    flex-grow: 1;

    &:first-of-type .advantages__item {
      padding-right: 71px;
    }
  }

  @media (min-width: @desktop-width) {
    flex-grow: 0;
    flex-basis: 476px;

    &:first-of-type .advantages__item {
      margin-left: 126px;
    }
  }
}

.advantages__item {
  position: relative;
  padding-top: 84px;
  padding-right: 10px;
  .font-style (17px, bold, 1.18, left);
  color: black;

  @media (min-width: @tablet-width) {
    padding-top: 105px;
    padding-bottom: 5px;
    .font-style (20px, bold, 1.1, left);
  }

  svg {
    position: absolute;
    left: 4px;
    top: 33px;

    @media (min-width: @tablet-width) {
      left: 4px;
      top: 54px;
    }
  }
}
