.advantages {
  padding: 34px 30px;
  margin: 0;
  font-family: @font;
}

.advantages__title {
  .font-style (25px, bold, 1.2, left);
  color: black;
}

.advantages__list {
  list-style: none;
}

.advantages__item {
  .font-style (17px, bold, 1.18, left);
  color: black;
}
