.button {
  display: inline-block;
  font-family: @font;
  .font-style (17px, bold, 1.18, center);
  text-transform: uppercase;
  text-decoration: none;
  color: #444444;
  border: solid 2px #444444;
  background-color: white;
}
