.button {
    font-family: "OpenSans", "Arial", sans-serif;
    font-size: 17px;
    font-weight: bold;
    line-height: 1.18;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color: #444444;
    border: solid 2px #444444;
    background-color: white;
}