.catalog {
    padding: 0;
    margin: 0 30px;
    font-family: "OpenSans", "Arial", sans-serif;
    list-style: none;
    &__image {
        margin-bottom: 31px;
        width: 260px;
        height: 195px;
    }
    &__video {
        width: 260px;
        height: 150px;
    }

}