.categories {
  padding: 0;
  margin: 0;
  list-style: none;
  @media (min-width: @tablet-width) {
    display: flex;
  }
  @media (min-width: @desktop-width) {
  }
}

.categories__item {
  padding: 30px 185px 30px 30px;
  margin: 0;
  @media (min-width: @tablet-width) {
    flex-grow: 1;
  }
  @media (min-width: @desktop-width) {
  }

  &--accessories {
    background-color: #63d1bb;
  }

  &--toys {
    background-color: #56c3b2;
  }
}

.categories__link {
  text-decoration: none;
  font-family: @font;
  .font-style (19px, bold, 1.26, left);
  color: white;
}
