.contacts {
  padding: 44px 30px 40px 30px;
  margin: 0;
  font-family: @font;
}

.contacts__title {
  .font-style (18px, bold, 1.67, left);
  color: black;
}

.contacts__cell {
  .font-style (15px, normal, 2, left);
  color: #444444;
}

.contacts__link {
  text-decoration: none;
  color: #444444;
}

//.contacts__button {}//
