.contacts {
    padding: 44px 30px 40px 30px;
    margin: 0;
    font-family: "OpenSans", "Arial", sans-serif;
    &__title {
        font-size: 18px;
        font-weight: bold;
        line-height: 1.67;
        text-align: left;
        color: black;
    }
    &__cell {
        font-size: 15px;
        font-weight: normal;
        line-height: 1.6;
        text-align: left;
        color: #444444;
    }
    &__link {
        text-decoration: none;
        color: #444444;
    }
    &__button {
        padding: 20px 52px;
    }

}