.form {
    padding: 29px 30px 55px;
    margin: 0;
    font-family: "OpenSans", "Arial", sans-serif;
    background-color: #ffffff;
    &__paragraph {
        font-size: 17px;
        font-weight: bold;
        text-transform: uppercase;
        line-height: 0.94;
        text-align: left;
        color: #63d1bb;
    }
    &__label {
        font-size: 17px;
        font-weight: bold;
        line-height: 1.06;
        text-align: left;
        color: black;
    }
    &__legend {
        font-size: 14px;
        font-weight: normal;
        line-height: 1.14;
        text-align: left;
        color: #444444;
    }
    &__button {
        padding: 20px 47px;
    }
}