.hit-list {
    padding: 34px 30px;
    margin: 0;
    font-family: "OpenSans", "Arial", sans-serif;
    &__title {
        font-size: 25px;
        font-weight: bold;
        line-height: 1.2;
        text-align: left;
        color: black;        
    }
    &__mark {
        font-size: 17px;
        font-weight: bold;
        line-height: 1.18;
        text-align: left;
        text-transform: uppercase;
        color: #63d1bb;
    }
    &__text {
        font-size: 15px;
        font-weight: normal;
        line-height: 1.6;
        text-align: left;
        color: #444444;
    }
    &__cell {
        font-size: 15px;
        font-weight: normal;
        line-height: 1.6;
        text-align: left;
        color: #444444;
    }
    &__price {
        padding: 29px 68px;
        font-size: 17px;
        font-weight: bold;
        line-height: 1.41;
        text-align: center;
        color: #444444;
    }
    &__button {
        padding: 20px 84px;
    }
}