.main-nav {
  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
    min-height: 110px;
  }
  @media (min-width: @desktop-width) {
  }
}

.main-nav__logo {  
  @media (min-width: @tablet-width) {
    flex-grow: 1;
  }
  @media (min-width: @desktop-width) {
  }
}

.main-nav__logo-image {
  .min-size (86px, 35px);
}

.main-nav__free-shipping {
  display: none;
  font-family: @font;
  @media (min-width: @tablet-width) {
    display: block;
    .font-style (15px, normal, 1.6, right);
    color: #444444;
    order: 1;
  }
  @media (min-width: @desktop-width) {
  }
}

.main-nav__toggle {
  z-index: 2;
  .size (20px, 14px);
  cursor: pointer;
  border: none;
  @media (min-width: @tablet-width) {
    display: none;
  }
  @media (min-width: @desktop-width) {
  }
}

.main-nav__list {
  @media (min-width: @tablet-width) {
    flex-grow: 1;
  }
  @media (min-width: @desktop-width) {
  }
}