.modal-window {
  .size(320px, 336px);
  padding: 36px 30px 46px;
  font-family: @font;
}

.modal-window__title {
  padding: 0 55px;
  margin: 0;
  .font-style (25px, bold, 1.2, center);
  text-transform: uppercase;
  color: black;
}
