.page-header {
  margin: 0;
  .min-size (320px, 79px);
  background-color: #ffffff;
  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
  }
  @media (min-width: @desktop-width) {
  }
}

.page-header__logo-image {
  padding: 22px 117px;
  .min-size (86px, 35px);
}
