.page-footer {
  background-color: #f1f1f1;
  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
  }
  @media (min-width: @desktop-width) {
  }
}

.page-footer__logo {
  display: none;
  @media (min-width: @tablet-width) {
    display: block;
  }
  @media (min-width: @desktop-width) {
  }
}