.production {
  position: relative;
  .min-size (260px, 503px);
  margin-bottom: 54px;
  margin-top: 31px;
  font-family: @font;

  @media (min-width: @tablet-width) {
    margin-bottom: 64px;
    margin-top: 0;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 56px;
  }
}

.production__wrapper {
  position: relative;
  padding-bottom: 33px;
  border: solid 1px #ececec;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: column;
    padding-bottom: 45px;
  }

  @media (min-width: @desktop-width) {
    min-height: 459px;
    padding-left: 758px;
  }
}

.production__header {
  position: relative;
  padding-left: 79px;

  svg {
    position: absolute;
    top: 30px;
    left: 32px;
    .size(41px, 34px);

    @media (min-width: @tablet-width) {
      top: 35px;
      left: 40px;
    }

    @media (min-width: @desktop-width) {
      top: 46px;
      left: 4px;
    }
  }

  @media (min-width: @tablet-width) {
    padding-left: 95px;
  }

  @media (min-width: @desktop-width) {
    padding-left: 0;
    padding-top: 77px;
  }
}

.production__title {
  margin: 0;
  padding: 24px 10px 24px 10px;
  .font-style (17px, bold, 1.41, left);
  color: black;

  @media (min-width: @tablet-width) {
    padding: 39px 10px 3px 10px;
    .font-style (20px, bold, 1.2, left);
  }

  @media (min-width: @desktop-width) {
    padding: 19px 51px 3px 0;
  }
}

.production__text {
  margin: 0;
  padding: 27px 34px 27px;
  .font-style (13px, normal, 1.85, left);
  color: #444444;

  @media (min-width: @tablet-width) {
    padding: 27px 34px 36px 40px;
    .font-style (15px, normal, 2, left);
  }

  @media (min-width: @desktop-width) {
    padding: 30px 34px 48px 0;
  }
}

.production__video {
  position: relative;
  .size(260px, 150px);
  margin-left: auto;
  margin-right: auto;

  @media (min-width: @tablet-width) {
    order: -1;
    .size(668px, 455px);
  }

  @media (min-width: @desktop-width) {
    position: absolute;
    top: 0;
    left: 0;
    .size(684px, 459px);
  }
}

.production__start-video {
  position: absolute;
  top: 37px;
  left: 72px;
  .size(101px, 77px);
  border: none;
  background-color: transparent;
  cursor: pointer;

  @media (min-width: @tablet-width) {
    top: 189px;
    left: 275px;
  }

  @media (min-width: @desktop-width) {
    top: 190px;
    left: 286px;
  }
}

.production__play-video {
  &:hover,
  &:focus {
    transform: scale(1.2);
  }

  &:active {
    transform: scale(0.8);
    opacity: 0.3;
  }
}

.production__button {
  width: 192px;
  margin-left: auto;
  margin-right: auto;
  .font-style (17px, bold, 0.94, center);

  @media (min-width: @tablet-width) {
    width: 584px;
  }

  @media (min-width: @desktop-width) {
    width: 230px;
    margin-left: 3px;
  }
}
