.promo-list {
  display: none;
  list-style: none;
  margin: 0;
  @media (min-width: @desktop-width) {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    top: 100px;
    left: 50px;
    width: 700px;
  }
}
  
.promo-list__link {
  display: inline-block;
  text-decoration: none;
  font-family: @font;
  .font-style (15px, bold, 1.6, left);
  color: black;
}