.site-list {
  list-style: none;
  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
    order: 1;
  }
  @media (min-width: @desktop-width) {
    order: -1;
  }
}

.site-list__link {
  display: inline-block;
  text-decoration: none;
  font-family: @font;
  .font-style (17px, bold, 1.41, left);
  color: black;
}
