.site-list {
  list-style: none;
  margin: 0;
  @media (min-width: @tablet-width) {
    display: flex;
    order: 2;
  }
  @media (min-width: @desktop-width) {
  }
}

.site-list__link {
  display: inline-block;
  padding-top: 32px;
  padding-left: 76px;
  text-decoration: none;
  font-family: @font;
  .font-style (17px, bold, 1.41, left);
  color: black;
}
