.size-selection {
    min-width: 260px;
    min-height: 206px;
    padding: 0;
    margin: 0;
    font-family: "OpenSans", "Arial", sans-serif;
    &__small-text {
        padding: 27px 64px;
        font-size: 15px;
        font-weight: normal;
        line-height: 2;
        text-align: center;
        color: #444444;
    }
    &__label {
        font-size: 17px;
        font-weight: bold;
        line-height: 0.94;
        text-align: center;
        color: #444444;
    }
    &__button {
        padding: 20px 82px 16px;
        color: white;
        background-color: #63d1bb;
        border: none;
    }


}