.size-selection {
  .min-size (260px, 206px);
  padding: 0;
  margin: 0;
  font-family: @font;
}

.size-selection__small-text {
  padding: 27px 64px;
  .font-style (15px, normal, 2, center);
  color: #444444;
}

.size-selection__label {
  .font-style (17px, bold, 0.94, center);
  color: #444444;
}

.size-selection__button {
  padding: 20px 82px 16px;
  color: white;
  background-color: #63d1bb;
  border: none;
}
