.user-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  @media (min-width: @tablet-width) {
  }
  @media (min-width: @desktop-width) {
  }
}

.user-list__link {
  display: inline-block;
  text-decoration: none;
  font-family: @font;
  .font-style (17px, bold, 1.41, left);
  color: black;
}
