*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: @font;
  text-transform: none;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  min-width: 320px;
  padding: 0 30px;

  @media (min-width: @tablet-width) {
    padding: 0 50px;
  }

  @media (min-width: @desktop-width) {
    margin: 0 auto;
    max-width: @desktop-width;
  }
}
